.img-card{
 width: 100px;
}
.titulo{
    font-size:80%;
    color: white;
}
.card-proyectos {
    border-radius: 15%;
    height: 235px;
    width: 230px;
    cursor: pointer;
    overflow: hidden;
}
.card-proyectos:hover {
    transition: all 400ms ease;
    transform: translateY(-3.5%);
    box-shadow: 0 12px 16px rgba(190, 189, 189, 0.2);
}
.card-head{
    background-color: #163bdd;
}
.cuerpo-card{
    background-color: #d3dafa;

}
.card-footer
{
    background: #acb7eb;
}
.divider{
    width: 10rem;
    height: 2rem;
}
  